body {
      font-family: arial, helvetica, sans-serif;
      font-size: 14px;
      color: navy;
      background-color: #ffc;
      margin: 20px;
      padding: 0;
}

/* This is a comment, by the way */
/*p  {
    line-height: 21px;  
}  */


p {
    font: 14px/1.5 "Times New Roman", times, serif;
    padding: 30px 10px;
    border: 1px black solid;
    border-width: 1px 5px 5px 1px;
    border-color: red green blue yellow;
    margin: 10px 50px;
}

 
h1 {
    font-size: 2em;
    color: #ffc;
    background-color: #900;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #c00;    
}

h2 {
    color: white;
    font-size: 1.5em;
    background-color: #090;
    margin: 20px;
    padding: 40px;
    border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
    padding: 2px;
    padding-left: 14px;
    
}

h3  {
     color: #999;
     font-size: 1.25em;
}

img {
      border-style: dashed;
      border-width: 2px;
      border-color: #ccc;

}

a  {
    text-decoration: none;
}

strong {
        font-style: italic;
        text-transform: uppercase;
}

p  {
     letter-spacing: 0.1em;
     word-spacing: 1em;
     line-height: 1.5;
     text-align: center;
 }
 
li  {
    color: #900;
    font-style: italic;
}

table  {
       background-color: #ccc;
}